<%= form_with model: item, url: path, data: { turbo: false } do |form| %>

  <% if item.image.present? %>
    <div class="mb-3" >
      <%= image_tag item.image.url, class: 'border border-3 border-secondary ', style: 'object-fit: cover; object-position: center; width: 200px; height: 200px' %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.file_field :image %>
  </div>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity, class: 'form-label' %>
    <%= form.number_field :quantity, class: 'form-control' %>
  </div>
  
  <div class="mb-3">
    <%= form.label :minimum_bets, class: 'form-label' %>
    <%= form.number_field :minimum_bets, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :online_at, class: 'form-label' %>
    <%= form.date_field :online_at, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :offline_at, class: 'form-label' %>
    <%= form.date_field :offline_at, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :start_at, class: 'form-label' %>
    <%= form.date_field :online_at, class: 'form-control' %>
  </div>

  <div  class="mb-3">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Item.statuses.map{|key, value | [key.humanize, key]}), { :prompt => 'Select Status' }, { class: 'form-control' } %>
  </div>

  <%= form.submit %>
<% end %>