<%= render partial: 'home/navbar' %>
<main class="container w-50">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control', placeholder: 'Username' %>
      <%= f.label :username, class: 'form-label' %>
    </div>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email'%>
      <%= f.label :email, class: 'form-label' %>

    </div>

    <div class="form-floating mb-3">
      <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: 'form-control', placeholder: 'Phone number' %>
      <%= f.label :phone_number, class: 'form-label' %>
    </div>

    <div class="form-floating mb-2">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control mb-1', placeholder: 'Password' %>
      <%= f.label :password, class: 'form-label' %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Password confirmation' %>
      <%= f.label :password_confirmation %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control mb-1', placeholder: 'Password confirmation'  %>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />

    </div>

    <div class="action">
      <%= f.submit "Update", class: 'form-control btn btn-primary' %>
    </div>
  <% end %>
</main>
<%= render 'home/footer' %>