<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Bet</th>
      <th>User</th>
      <th>Address</th>
      <th>Item Batch</th>
      <th>State</th>
      <th>Price</th>
      <th>Paid At</th>
      <th>Admin</th>
      <th>Picture</th>
      <th>Comment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @winners.each do |winner| %>
      <tr>
        <td><%= winner.item.name %></td>
        <td><%= winner.bet.serial_number %></td>
        <td><%= winner.user.username %></td>
        <td><%= winner.address_book.full_address %></td>
        <td><%= winner.item_batch_count %></td>
        <td><%= winner.state %></td>
        <td><%= winner.price %></td>
        <td><%= winner.paid_at %></td>
        <td><%= winner.admin.username if winner.admin.present? %></td>
        <td><%= image_tag winner.picture.url, height: 100 if winner.picture.present? %></td>
        <td><%= winner.comment %></td>
        <td>
          <%= button_to 'Submit', state_submit_admin_winner_path(winner), method: :put if winner.may_submit? %>
          <%= button_to 'Pay', state_pay_admin_winner_path(winner), method: :put if winner.may_pay?%>
          <%= button_to 'Ship', state_ship_admin_winner_path(winner), method: :put if winner.may_ship? %>
          <%= button_to 'Deliver', state_deliver_admin_winner_path(winner), method: :put if winner.may_deliver? %>
          <%= button_to 'Share', state_share_admin_winner_path(winner), method: :put if winner.may_share? %>
          <%= button_to 'Publish', state_publish_admin_winner_path(winner), method: :put if winner.may_publish? %>
          <%= button_to 'Unpublish', state_unpublish_admin_winner_path(winner),method: :put if winner.may_unpublish? %>
        </td>
      </tr>
    <%end %>
  </tbody>
</table>
