<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>PostCode</th>
            <th>Phone Number</th>
            <th>Remark</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <% @address_books.each do |ab| %>
        <tr class="<%= 'table-primary' if ab.is_default %>">
          <td><%= ab.name %></li></td>
          <td>
            <% if ab.home? %>
              <span class="badge rounded-pill text-bg-danger ">Home</span>
            <% else %>
              <span class="badge rounded-pill text-bg-info ">Office</span>
            <% end %><%= ab.address_street %>
          </td>
          <td>
            <%= [
                    ab.address_region.name,
                    ab.address_province.name,
                    ab.address_city.name,
                    ab.address_barangay.name
              ].join(' - ')
            %>
          </td>
          <td><%= ab.phone_number %></td>
          <td><%= ab.remark %></td>
          <td>
            <%= link_to 'Edit', edit_address_book_path(ab),class: 'btn btn-outline-success'  %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
<div class="container text-end">
  <%= link_to '+ ADD NEW ADDRESS', new_address_book_path, class: 'btn btn-primary' %>
</div>
