<h1>Users Bet List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>User</th>
            <th>Batch</th>
            <th>Coins</th>
            <th>State</th>
            <th>Serial Number</th>
        </tr>
    </thead>
    <tbody>
        <% @bets.each do |bet| %>
        <tr>
            <td><%= bet.item.name %></td>
            <td><%= bet.user.username %></td>
            <td><%= bet.item.batch_count %></td>
            <td><%= bet.coins %></td>
            <td><%= bet.state %></td>
            <td><%= bet.serial_number %></td>
        </tr>
        <% end  %>
    </tbody>
</table>