<%= render partial: 'home/navbar' %>
<ul class="list-unstyled p-3">
  <li class="mb-5 text-center">
    <% if current_user.image.present? %>
        <%= image_tag current_user.image.url, class: 'rounded-circle border border-3 border-secondary ', style: 'object-fit: cover; object-position: center; width: 200px; height: 200px' %>
    <% else %>
      <img src="https://placehold.co/200x200" class="rounded-circle border border-3 border-secondary" style="object-fit: cover; object-position: center; width: 200px; height: 200px">
    <% end %>
  </li>
  <li class="mb-3">
    <h3 class="h5 d-inline-block w-25">Username</h3>
    <span class="h5 w-auto text-secondary"><%= current_user.username %></span>
  </li>
  <li class="mb-3">
    <h3 class="h5 d-inline-block w-25">Email</h3>
    <span class="h5 text-secondary w-auto"><%= current_user.email %></span>
  </li>
  <li class="mb-3">
    <h3 class="h5 d-inline-block w-25">Coins</h3>
    <span class="h5 text-secondary w-auto"><%= current_user.coins %></span>
  </li>
</ul>
<hr>
<button class="btn btn-success w-100 text-center">Cash in now</button>
<hr>
<div class="d-flex justify-content-between">
  <%= link_to 'Edit Profile', profile_edit_path, class: 'btn btn-outline-secondary flex-fill me-2'%>
  <%= link_to 'Address', address_books_path, class: 'btn btn-outline-secondary flex-fill ms-2' %>
</div>